
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background: white;
   overflow: none;
}

.navbar{

    height: 70px;
    width: 100%;
     
    display: flex;
    align-items: center;
    
}

.main-container{
    max-width: 100%;
    max-height: 100%;
}
.nav{
  
    display: flex;
    width: 100%;

 
}

.logo{
    width: 20%;
margin-left: 15px;
    display: flex;
    align-items: center;
    height: auto;
   
}
.logo >img{
    height: 120px;
    width: 120px;
    
 
}

.middle{
    width: 95%;
   height: 100%;
   margin-top: 20px;
   margin-left: 30px;
  
}
.search{
    
    --padding:10px;
    width: max-content;
    display: flex;
    align-items: center;
    padding: 16px;
    border-radius: 28px;
    background: rgba(204, 218, 235, 0.507);
    transition: box-shadow 0.25s;
    
   
    
    
}

.search:focus-within{
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
    background-color:white;

    

}

.search-input{
    margin-left:var(--padding) ;
    font-size: 16px;
    font-family: lexend,sans-serif;
    color: #333333;
    border: none;
    outline: none;
    background: transparent;
    width: 600px;
}

.logo >i{
    padding: 10px;
    border-radius: 50%;
    height: 50px;width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo >i:hover{
 

    background: rgb(235, 234, 234);
 
}


.right >img{
    padding: 10px;
    border-radius: 50%;
    height: 50px;width: 50px;
 

    
    
   

}
.right >img:hover{
    background: rgb(235, 234, 234);

}

.settings{
    width: 5%;
height: 100%;
 display: flex;
 justify-content: flex-end;
 padding-right:-150px;

 



}
.right{
    

 
    display: flex;
    align-items: center;


    
}
.compose{
    gap: 20px;
    width: 60%;
    align-items: center;
    margin-left: 10px;
    border-radius: 1rem;
    display: flex;
    padding: 15px;
    margin-bottom: 20px;
    background: rgba(185, 230, 230, 0.815);
    color: rgba(58, 57, 57, 0.863);
    margin-top: 10px;
    
}


.side-bar-left {
width: 18%;
height: 100%;




}
.inbox{
    display: flex;
    padding: 5px;
    background: rgba(179, 209, 248, 0.74);
    color: rgba(44, 44, 44, 0.904);
    border-radius: 3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 25px;
    gap: 20px;
    font-weight: bold;
    align-items: center;
}



.star{
    
    display: flex;
    gap: 20px;
    padding: 5px;
    background: rgba(228, 227, 227, 0.404);
    color: rgba(58, 57, 57, 0.863);
    border-radius: 3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 25px;
    align-items: center;
}

.star:hover{
    background:rgb(228, 227, 227);
    color: rgba(44, 44, 44, 0.904);
}
.snoze{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 5px;
    background: rgba(228, 227, 227, 0.404);
    color: rgba(58, 57, 57, 0.863);
    border-radius: 3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 25px;
}

.snoze:hover{
    background:rgb(228, 227, 227);
    color: rgba(44, 44, 44, 0.904);
}
.drafts{
    display: flex;
    padding: 5px;
    background: rgba(228, 227, 227, 0.404);
    color: rgba(58, 57, 57, 0.863);
    border-radius: 3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 25px;
    align-items: center;
    gap: 20px;
}
.drafts:hover{
    color: rgba(44, 44, 44, 0.904);
    background:rgb(228, 227, 227);
}
.send{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px;
    background: rgba(228, 227, 227, 0.404);
    color: rgba(58, 57, 57, 0.863);
    border-radius: 3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 25px;
}
.send:hover{
    background:rgb(228, 227, 227);
    color: rgba(44, 44, 44, 0.904);
}
.more{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px;
    background: rgba(228, 227, 227, 0.404);
    color: rgba(58, 57, 57, 0.863);
    border-radius: 3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 25px;
}
.more:hover{
    background:rgb(228, 227, 227);
    color: rgba(44, 44, 44, 0.904);
}
.label{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 60%;
   padding-left: 25px;
    background: rgba(255, 255, 255, 0.863);
    color: rgba(49, 49, 49, 0.863);
    border-radius: 3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
   
}
.material h5{
    margin-left: 40%;
    display: flex;
    align-items: center;
    
}
.center{
display: flex;
margin-top: 20px;

   
    
  
    
}
section{
    display: block;

    height: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.arrow {
    color: gray;
    display: flex;
 margin-left: 500px;
 align-items: center;
}
section img{
    height: 20px;
    width: 20px;
}
.written{
    
   margin-top: 35px;
    height: 100%;
    width: 60px;
  margin-right: 10px;
   display: flex;
  

   
    
}

.image img{
    
    margin-left: 10px;
    height: 35px;
    width: 35px;
    margin-bottom: 25px;
  

}
.image >span{
    margin-left: 15px;
    margin-top: 50px;
 
}
.check{
    height: 35px;
    width: 50px;
background: rgba(230, 227, 227, 0.829);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    border-radius: 5px;
    
}
.check:hover{
    background: rgba(207, 200, 200, 0.767);
    border: 1px solid rgba(156, 155, 155, 0.685);
}

.center-main{
   
    background: (0, 238, 255);
    font-size: 22px;
 
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    
}



.primary{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 12px;
    border-bottom: 3px solid rgb(255, 255, 255);
height: 100%;
    width: 30%;
    color: gray;
    
  

   
}
.primary:hover{
    color: blue;
    padding-bottom: 12px;
    border-bottom: 3px solid blue;
    background: rgba(238, 224, 224, 0.678);
}
.mail-list{
    display: flex;
   align-items: center;
    border-top: 1px solid rgba(128, 128, 128, 0.301);
    background: rgba(235, 225, 225, 0.575);
   padding: 10px;
  
   
 
}
.text-left{
    display: flex;
    align-items: center;
    
    width: 30%;
    gap:15px;
}
.start{
    font-size: 20px;
    color: rgba(128, 128, 128, 0.61);
   
    
}
.text-left >h4{
    
    color: rgba(0, 0, 0, 0.767);
}

.mail-list:hover{
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
    background-color:white;
    color: black;
   


}
.last{
  
    max-height: 630%;
    max-width:  100%;
    overflow-y: scroll;
    
}

@media  screen and (max-width: 600px) {
  .side-bar-left h4{
        font-size: 5px;
        
        visibility: hidden;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .label{
        gap: 0px;
        padding-left: 0px;
    }
 
    .written{
    
        visibility: hidden;
    }
    .search{
        width: 40%;
    }
    .logo{
        margin: 0;
        padding: 0;
        width: 40%;
        
    }
}
@media  screen and (max-width: 1075px){
    .search{
        max-width: 60%;
    }
   
}
@media  screen and (max-width: 700px){
.arrow{
    visibility: hidden;
    font-size: 5px;
    
}

}
@media  screen and (max-width: 500px){
    .mail-list{
        font-size: 15px;
    }
  
}

@media  screen and (max-width: 450px){
    .mail-list{
        font-size: 12px;
    }
}